.search-bar-container {
    display: flex;
    gap: 1rem; /* espace entre les barres */
    margin-bottom: 1rem;
}

.search-bar {
    display: flex;
    gap: 0.5rem;
    flex: 1;

    input {
        flex: 1;
        padding: 0.4rem;
        font-size: 1rem;
    }

    button {
        padding: 0.4rem 0.8rem;
        font-size: 1rem;
        cursor: pointer;
    }
}
